.footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--text-size-s);
  font-variation-settings: var(--text-weight-normal);
  line-height: 1.5;
  color: var(--text-color-primary);
}

.footer--index {
  margin-top: calc(10*var(--size-unit));
}

.thanks {
  max-width: 30ch;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .footer--index {
    margin-top: calc(8*var(--size-unit));
  }
}

@media screen and (max-width: 600px) {
  .footer--index {
    margin-top: calc(6*var(--size-unit));
  }
}

.footer--inner {
  margin-top: calc(5*var(--size-unit));
}

@media screen and (max-width: 800px) {
  .footer--inner {
    margin-top: calc(6*var(--size-unit));
  }
}