:root {
  /* СЕКЦИИ */
  --body-padding-top-bottom: 32px 0 80px;
  --content-section-width-main: 95.5%;
  --radius-main: 0.8rem;
  --size-unit: clamp(
    0.75rem,
    0.6786rem + 0.3571vw,
    1rem
  ); /* from 16px to 12px */
  --inner-width-main: 58%;
  --inner-width-large: 70%;
  --inner-width-over-content: calc(var(--content-section-width-main) / 100 * 65.84);
  --header-height: 600px;
  --full-page-aspect-ratio: 1376/600;
  --slider-width: 65.8%;
  --right-arrow-shift: 10%;
  --left-arrow-shift: 10%;

  /* ТИПОГРАФИКА */
  --font-main: kyivtype, sans-serif;
  --heading-weight-l: "wght" 840, "CONT" 0, "MIDL" -1000;
  --heading-size-l: clamp(1.25rem, 0.0357rem + 6.0714vw, 5.5rem);
  --text-color-main: #001d3d;
  --link-color-default: #0975e8;
}

.theme-turquoise {
  --accent-color: #98E2DB;
}

.theme-red {
  --accent-color: #F0716A;
}

.theme-blue {
  --accent-color: #76BAF9;
}

.theme-purple {
  --accent-color: #AE8BF4;
}

.theme-pink {
  --accent-color: #F49ABE;
}

.theme-yellow {
  --accent-color: #F2E369;
}

.theme-orange {
  --accent-color: #F49F67;
}

.theme-green {
  --accent-color: #99E1A2;
}

@media screen and (max-width: 650px) {
  :root {
    --inner-width-main: 80%;
    --inner-width-large: 80%;
    --inner-width-over-content: var(--content-section-width-main);
    --full-page-aspect-ratio: 1376/900;
    --body-padding-top-bottom: 0 0 calc(2 * var(--size-unit));
    --slider-width: 90%;
    --right-arrow-shift: -2%;
    --left-arrow-shift: -3%;
    --heading-size-l: clamp(1.25rem, 0.57rem + 6.0714vw, 5.5rem);
    --text-caption: clamp(0.625rem, 0.5179rem + 0.5357vw, 1rem);
  }
}
